@tailwind base;
@tailwind components;
@tailwind utilities;





/* Custom styles */
html, body {
 
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  /* background: linear-gradient(135deg, #000000, #2e2e2e); Gradient from black to dark gray */
  background-size: cover; 
  background: linear-gradient(90deg, #000000 30%, #292929); /* Ensures the gradient covers the entire background */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
/* Ensures padding is included in height */
}

* {
   /* Inherit box-sizing from html */
  padding: 0;
  margin: 0;
}
